[Unit]
Description=ARL Worker Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/ARL
ExecStart=/opt/venv/bin/python3.12 -m app.scheduler

[Install]
WantedBy=multi-user.target

