urllib3
colorlog
pymongo>=4.1
Flask
Werkzeug
celery
flask-restx
requests
dnspython
tld
PyYAML
geoip2
pyOpenSSL
mmh3
pyquery
openpyxl
gunicorn
psutil
python-crontab
lxml
pyparsing
pytest
python-nmap>=0.7.1
